{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": "last 2 versions"
        },
        "loose": true,
        "modules": false
      }
    ],
    "react",
    "stage-2"
  ],
  "plugins": ["react-hot-loader/babel"],
  "compact": "false",
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
